/* 
Color for the page
#FD4556
#BD3944
#111823
*/

/*This resets the page margin and padding*/
*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #111823;
}

/*Start of the navbar code*/
nav .container {
 
    padding: 10px 8px;
    background-color: #FD4556;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 40px;
}

.container .title {
    font-weight: bold;
    color: #FD4556;
    font-size: xx-large;
    padding: 7px;
    background-color: #111823;
    border-radius: 15px;
    margin-left: 230px;
}

.container .rightside a{
    color: #FD4556;
    padding: 8px;
    background-color: #111823;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.container .rightside a:hover{
    color: #111823;
    background-color: #BD3944;
}

/*End of the navbar code*/

/*Start of header code*/
.header {
    margin: 5px;
    border-radius: 10px;
    display: flex;
    background-color: #BD3944;
    height: 500px;
}

.header img {
   width: auto;
   border-radius: 10px;
   margin: 10px;
}

.header .about  {
    font-size: xx-large;
    margin: 10px;
    color: #111823;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.header .about h2 {
    border-radius: 10px;
    padding: 5px 12px;
    border: #111823 solid;
    margin-bottom: 10px;
}

.header .about p {
    text-align: center;
    font-size: x-large;
    width: 400px;
}
/*End of header code*/

/*Start of map code*/
h1 {
    display: block;
    margin: 5px 600px;
    padding: 7px;
    color: #BD3944;
    font-weight: bolder;
    text-align: center;
    border: #BD3944 solid 5px;
    border-radius: 10px;
}

.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #111823;
    height: 900px;
    
}

.map-box {
    background-color: #BD3944;
    border: #111823 solid 2px;
    border-radius: 10px;
}

.map-box:hover{
    color: #BD3944;
    background-color: #111823;
    border: #BD3944 solid 2px;
}

.map-box img{
    height: auto;
    width: 260px;
    margin: 10px;
}
/*End of map code*/

/*Start of quote code*/
#quote-container {
    margin: 5px 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote-container p {
    padding: 20px;
    width: 600px;
    color: whitesmoke;
    font-size: x-large;
}
 #quote-container .agent-name {
    display: flex;
    width: 600px;
    justify-content: flex-end;
    color: #111823;
    font-size: x-large;
    font-weight: bolder;
 }
/*End of quote code*/

/*Start of sign up code*/
#sign-up-container {
    margin: 5px 10px;
   background-color: #BD3944;
   border-radius:10px;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60px;
}   

#sign-up-container .sign-up-header .date {
    font-weight: bold;
    font-size: xx-large;
}



#sign-up-container .sign-up {
    font-size: larger;
    padding: 5px 10px;
    border-radius: 10px;
    border: #111823 solid 3px;
}
/*End of sign up code*/

/*Start of footer*/
.footer {
    height: 50px;
   font-size: larger;
   font-weight: 400;
    color: #111823;
    background-color: #FD4556;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*End of footer*/